.premium-benefits-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #0B0B0D;
    border: 1px solid #00FFFF;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "'Exo 2'", sans-serif;
    color: #1E1E1E;
  }
  
  .premium-benefits-container h1 {
    font-family: 'Roboto', serif;
    color: #FF004D;
    margin-bottom: 20px;
  }
  
  .benefits-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .benefits-list li {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #00FFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .volver-button {
    padding: 12px 20px;
    background-color: #FF004D;
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .volver-button:hover {
    background-color: #00FFFF;
    color: #1E1E1E;
    transform: scale(1.05);
  }
  