/* Registro.css */

.auth-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #00FFFF; /* Rosa viejo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #1E1E1E;
    text-align: center;
}

.auth-form h2 {
    font-family: 'Exo 2', serif; /* Fuente elegante */
    color: #FF004D; /* Bordó oscuro */
    font-size: 1.8em;
    margin-bottom: 20px;
}

.auth-form form div {
    margin-bottom: 15px;
    text-align: left;
}

.auth-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF004D; /* Bordó oscuro */
}

.auth-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #A8A8A8; /* Gris suave */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #0B0B0D; /* Blanco hueso */
}

.auth-form input:focus {
    border-color: #FF004D; /* Bordó oscuro */
    outline: none;
}

.auth-form button {
    width: 100%;
    padding: 12px;
    background-color: #FF004D; /* Bordó oscuro */
    color: #0B0B0D; /* Blanco hueso */
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #00FFFF; /* Rosa viejo */
    color: #1E1E1E; /* Negro profundo */
}

.auth-form .toggle-button {
    margin-top: 15px;
    text-align: center;
    color: #FF004D; /* Bordó oscuro */
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: underline;
}

.auth-form .toggle-button:hover {
    color: #00FFFF; /* Rosa viejo */
    text-decoration: none;
}

.auth-form .error {
    color: red;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
}