/* HomePage.css */

/* Contenedor principal */
.homepage {
    padding: 20px;
    background-color: #0B0B0D; /* Blanco hueso */
    color: #1E1E1E; /* Negro profundo */
    font-family: 'Exo 2', sans-serif; /* Fuente moderna */
}

.homepage h1 {
    font-family: 'Exo 2', serif; /* Fuente elegante */
    color: #FF004D; /* Bordó oscuro */
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos de las tarjetas */
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #1E1E1E;
    border: 1px solid #00FFFF; /* Rosa viejo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.3s;
    padding: 20px;
    text-align: left;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FF004D; /* Bordó oscuro */
    font-family: 'Exo 2', serif; /* Fuente elegante */
}

.card-content p {
    margin: 5px 0;
    color: #1E1E1E; /* Gris suave */
    font-size: 1em;
}

/* Botón en las tarjetas */
.card-content button {
    background-color: #FF004D; /* Bordó oscuro */
    color: #0B0B0D; /* Blanco hueso */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.card-content button:hover {
    background-color: #00FFFF; /* Rosa viejo */
    color: #1E1E1E; /* Negro profundo */
    transform: scale(1.05);
}